.order__line-items {
  min-height: 250px;
  padding: 0 20px var(--footer-height) 20px;
  background-color: var(--primary-light-gray);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.order__line-items-header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order__line-items-heading {
  font-weight: 500;
}

.form-wrapper {
  display: flex;
}

.order__line-items-form {
  position: relative;
  width: 275px;
}

.order__line-items-button-add-products {
  margin: 0 10px;
  height: 20px;
  width: 20px;
  background: url("./img/create-product.png") center center no-repeat no-repeat;
  background-size: 75%;
  cursor: pointer;
}

.order__line-items-input-search {
  width: 275px;
  padding: 0 60px 0 10px;
}

.order__line-list {
  display: flex;
  flex-direction: column;
}

/* line-list block */

.order__line-list-row--headline {
  padding: 10px 0;
  background-color: var(--secondary-gray);
}

.order__line-list-row--headline .product {
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 300;
}

.order__line-list-row--headline .product, 
.order__line-list-row--headline .unit-price, 
.order__line-list-row--headline .quantity, 
.order__line-list-row--headline .total,
.order__line-list-row--headline .delete-product {
  min-height: initial;
  margin-right: -5px;
}

.sort-picture {
  margin-left: 5px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: url("./img/sorting.png") center center no-repeat;
  background-size: 100%;
}

.sort-picture--ASC {
  background: url("./img/down-arrow.png") center center no-repeat;
  background-size: 100%;
}

.sort-picture--DESC {
  background: url("./img/down-arrow.png") center center no-repeat;
  background-size: 100%;
  transform: rotate(180deg);
}
