:root {   
  --first-gradient-color: #aac3e2;
  --second-gradient-color: #e6ebef;
  
  --primary-gray: #afadad;
  --secondary-gray: #e3e5e7;
  
  --primary-blue: #397cb3;
  --secondary-blue: #cadeef;
  
  --primary-light-blue: #e7f0f8;
  --primary-light-gray: #fafafa;
  --primary-light-black: #5d5b5b;
  
  --primary-white: #FFFFFF;
  --primary-orange: #f1a516;
  --primary-red: #f5471c;
  --primary-green: #06cb20;
  
  --footer-color: #2f3b47;
  
  --order-list-width: 255px;
  
  --header-height: 30px;
  --footer-height: 30px;   
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
  
body {
  font-family: sans-serif, serif;
  height: 100vh;
  background: linear-gradient(var(--first-gradient-color), var(--second-gradient-color)); 
}
  
body.blocked {
  overflow-y: hidden;
}
  
h3 {
  font-weight: 200;
}

.content-wrapper {
  position: relative;  /* for order-list */
  max-width: 1300px;
  margin: 0 auto;
  padding-left: var(--order-list-width); /* while order-list is open */
  box-shadow: 5px 0px 10px var(--primary-gray); 
  transition: opacity .4s ease-in-out;
}

.content-wrapper--menu-hidden {
  padding-left: 0;
}

.content-wrapper--menu-hidden .header, .content-wrapper--menu-hidden .footer {
  width: 100%;
  max-width: 1300px;
}

.content-wrapper--blurred {
  opacity: .1;
}

.wrapper-pop-up-form {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}

.pop-up-form {
  position: absolute;
  z-index: 1; 
  padding: 20px 20px;
  background: var(--first-gradient-color);
}

.create-product-form {
  width: 600px;
  height: 190px;
  left: calc((100% - 600px) / 2);
  top: calc((100% - 190px) / 2);
}

.create-order-form {
  width: 1000px;
  left: calc((100% - 1000px) / 2);
}

.add-products-form {
  width: 600px;
  left: calc((100% - 600px) / 2);
}

.products-wrapper, .customers-wrapper {
  cursor: pointer;
}

.exist-customers {
  height: 25px;
  width: 180px;
  margin-left: 50px;
  background: var(--secondary-gray);
  border: 0;
  cursor: pointer;
}

.exist-customers--active {
  color: var(--primary-white);
  background-color: var(--primary-blue);
}

.exist-customers:hover {
  border: 2px solid var(--primary-blue);
}

.customers-info {
  margin-top: 10px;
}

.customers-info, .add-products-form {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.customers-header, .products-header {
  background-color: var(--secondary-gray);
  padding: 10px  0 10px 18px;
}

.products-header {
  margin-top: 20px;
  padding: 10px  0 10px 33px;
}

.customers-header, .customers-item, .products-header, .products-item {
  display: flex;
  border-top: 1px solid black;
  align-items: center;
}

.customers-item:last-child {
  border-bottom: 1px solid black;
}

.customers-item input[type="radio"] {
  margin: 0 0 0 5px;
}

.products-item input[type="checkbox"] {
  margin: 0 0 0 20px;
}

.products-item input[type="text"] {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}


.customers-item label, .products-item label {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.customers-item, .products-item {
  padding: 5px 0;
  background: var(--primary-white);
}

.customers-info li {
  flex: 1;
  text-align: center;
  max-width: calc((100% - 25px) / 5);
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-products-form li {
  flex: 1;
  text-align: center;
  max-width: calc((100% - 25px) / 4);
  overflow: hidden;
  text-overflow: ellipsis;
}

.customers-info li.id {
  max-width: 25px;
}

.preloader {
  height: 100px;
  /* background: url("../../../img/preloader.gif") center center no-repeat no-repeat; */
}

@media(max-width: 1075px) {
  
  .content-wrapper {
    padding: 0;
  }
}

@media(max-width: 580px) {
  
  .pop-up-form {
    width: 100%;
    left: 0;
  }

  .customers-info {
    font-size: 14px;
  }

  .customers-item label {
    max-width: calc(100% - 20px);
  }
}
  